@import './variables';

.about-us {
  display: flex;
  flex-direction: row;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: $card-shadow;
  margin: 20px 0;

  &__content {
    flex: 1;
    padding-right: 20px;
    max-width: 60%; /* Reduce the content width */

    h2 {
      margin-bottom: 20px;
      color: $primary-color;
    }

    p {
      margin-bottom: 20px;
      font-family: $font-stack;
      line-height: 1.6;
      color: black;
    }
  }

  &__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 200px; /* Increase the image size */
      height: 200px; /* Ensure the image stays circular */
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;
    }

    .company-name {
      font-family: $font-stack;
      font-size: 1.2em;
      font-weight: bold;
      color: $primary-color;
    }
  }
}
