@import './variables';

.service-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: $card-shadow;
  margin: 20px 0;
  max-width: 400px; /* Reduced width */

  &__image {
    flex: 1;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-family: $font-stack;
      margin-bottom: 20px;
      font-size: 1.5em; /* Reduced font size */
    }

    .service-card__buttons {
      display: flex;
      gap: 60px;

      button {
        padding: 15px 25px;
        border: none;
        border-radius: 8px;
        font-family: $font-stack;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        font-size: 1em;
        font-weight: bold;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &:first-child {
          background-color: #fff;
          color:$primary-color;
        }

        &:last-child {
          background-color: #fff;
          color: $primary-color;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
